@charset "utf-8";

/******************************************************************************************
* Get cdn hosted files
**/
@import "./imports";

/******************************************************************************************
* Get global partials
**/
@import "./variables";
@import "./placeholders";
@import "./mixins";
@import "./functions";

/******************************************************************************************
* Get Bulma framwork
**/
@import "./bulma";

/******************************************************************************************
* HTML Tags
**/
body,
html {
  height: 100%;
  background-image: linear-gradient($pink-light, $beige-light);
}

/******************************************************************************************
* App Styling
**/
.app {
  background: $beige-lighter;
  height: 100%;
}

/******************************************************************************************
* Global components
**/

/******************************************************************************************
* Global routes
**/

/******************************************************************************************
* Lib: Bulma Framework 
**/

/******************************************************************************************
* Lib: Animation 
**/
.fastest {
  animation-duration: 0.25s;
}
